@import "../../styles/colors.scss";

.login {
  flex: 1;
  display: flex;

  align-items: center;
  justify-content: center;

  form {
    padding: 3em;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: column;

    .field {
      display: flex;
      flex-direction: column;

      input[type="email"], input[type="password"] {
        margin: 0.5em;
        border: none;
        border-bottom: 2px solid $primary;
        padding: 0.5em;
        outline: none;

        &:focus {
          border-color: $alteration;
        }
      }
    }

    input[type="submit"] {
      border: none;
      padding: 0.5em;
      margin: 0.5em;

      background-color: $primary;
    }
  }

}