@import "../../styles/colors.scss";

.order{
  border-radius: 3px;
  width: 100%;
  border: 2px solid transparent;
  padding: 1em;
  align-items: center;
  justify-content: center;

  *{
    margin: 1em;
  }
  .person{
    padding: 1em;
    .info, .contact {
      display: flex;
    }
  }
  .buttons{
    float: left;
    .btn-success{
      //todo: fix colors
      background-color: $primary;
    }
    .btn-error{
      background-color: $accent;
    }
  }

  &:hover {
    cursor: pointer;
  }
}