.backpack {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;

    $card-size: 15em;

    .card-wrapper {
        display: inline-block;

        height: $card-size;
        width: $card-size;
        margin: 1em;
    }
}