@import "../../styles/colors.scss";

.title
{
  margin-right: 20px;
  font-weight: bold
}

.product
{
  :not(:last-child) {
  margin-right: 10px;
}
}

.Collapsible {
  background-color: white;
  width: 1000px;
  margin: auto;
}

.Collapsible__contentInner {
  padding: 10px;
  border: 1px solid #ebebeb;
  border-top: 0; }
.Collapsible__contentInner p {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px; }
.Collapsible__contentInner p:last-child {
  margin-bottom: 0; }

.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: #333333;
  position: relative;
  border: 1px solid white;
  padding: 10px;
  background: #00ac9d;
  color: white; }
.Collapsible__trigger:after {
  padding-left:950px;
font-family: 'FontAwesome';
  content: '\f107';
  position: absolute;
  right: 6px;
  top: 10px;
  display: block;
  transition: transform 300ms; }
.Collapsible__trigger.is-open:after {
  transform: rotateZ(180deg);
  padding-left:950px;}
.Collapsible__trigger.is-disabled {
  opacity: 0.5;
  background-color: grey; }

.CustomTriggerCSS {
  background-color: lightcoral;
  transition: background-color 200ms ease; }

.CustomTriggerCSS--open {
  background-color: darkslateblue; }

.search, .general-tags {
  width: 50%;
  display: flex;
}

.search {
  justify-content: flex-start;

  input {
    font-family: 'Alef', sans-serif;
    border: none;
    outline: none;
    width: 50%;
    padding: 0 0.1em;
    margin: auto;
    margin-right: 3em;
    border-bottom: 1px solid black;
    background-color: transparent;
  }
}

.product-wrapper
{
  margin-top: 10px;
}

.catalog
{
  margin-top:30px;
}