@import "../../styles/colors.scss";

#my-inventory-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    .header {
        h3 {
            border-bottom: 1px solid lightgrey;
            padding-bottom: 0.5em;
            margin-bottom: 0;
        }
        
        .inventory-options {
            padding-bottom: 1em;
            display: flex;
            justify-content: space-between;

            .search, .general-tags {
                width: 50%;
                display: flex;
            }
            
            .search {
                justify-content: flex-start;

                input {
                    font-family: 'Alef', sans-serif;
                    border: none;
                    outline: none;
                    width: 50%;
                    padding: 0 0.1em;
                    margin: auto;
                    margin-right: 3em;
                    border-bottom: 1px solid black;
                    background-color: transparent;
                }
            }

            .general-tags {
                padding: 1em 0 1em 3em;
                justify-content: space-around;
                flex-wrap: wrap;

                .tag {
                    padding: 0.5em;
                    margin-bottom: 0.5em;
                    border-radius: 3px;
                    display: flex;
                    align-items: center;
                    opacity: 0.3;

                    &.active {
                        opacity: 1;
                    }

                    .fa-tag {
                        padding-left: 0.5em;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .main {
        flex-grow: 1;
    }
}