@import url('https://fonts.googleapis.com/css?family=Alef:400,700&subset=hebrew');
@import './colors.scss';

html {
    font-family: 'Alef', sans-serif;
    font-size: 16px;
}

@-webkit-keyframes move-bg {
    0%{background-position:69% 0%}
    50%{background-position:32% 100%}
    100%{background-position:69% 0%}
}
@-moz-keyframes move-bg {
    0%{background-position:69% 0%}
    50%{background-position:32% 100%}
    100%{background-position:69% 0%}
}
@keyframes move-bg { 
    0%{background-position:69% 0%}
    50%{background-position:32% 100%}
    100%{background-position:69% 0%}
}

#root {
    width: 100%;
    height: 100vh;
    direction: rtl;
    box-sizing: border-box;
    padding: 2em;
    padding-bottom: 0;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    
    .wrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 1em;
        // border-radius: 5px;

        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);

        background-color: hsla(0, 0%, 97%, 1);
        background-image: url("../../static/film-texture.jpg");
        background-size: 60%;
        background-blend-mode: screen;

        -webkit-animation: move-bg 7s linear infinite;
        -moz-animation: move-bg 7s linear infinite;
        animation: move-bg 7s linear infinite;

        
        header {
            position: absolute;
            top: 0;
            left: 0;

            h1 {
                background-color: white;
                padding: 0.5em;
                border-radius: 3px;
            }
        }
        
        main {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }
    }
}