@import '../../styles/colors.scss';

.item-wrapper {
    height: calc(100% - 4em);
    width: 100%;
}

$logo-size: 6em;

.item-logo {
    height: 0;
    width: 0;
    padding: $logo-size / 2;
    border-radius: 50%;
    background-color: #dd6137;
    margin: auto;
    margin-bottom: - ( $logo-size / 3 ) ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-card, .item-expanded {
    border-radius: 3px;
    border: 2px solid transparent;
    padding: 0.5em;
    
    height: calc(100% - 1em - 4px);
    width: calc(100% - 1em - 4px);

    display: flex;
    flex-direction: column;
    h4 {
        padding: 0;
        margin: 0;
        border-bottom: 1px solid black;
        margin-bottom: 0.5em;
    }
    .serial {
        font-size: 0.8em;
        &:after {
            content: '#';
        }
    }
    .extra-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        align-items: flex-end;
        .checkbox {
            &:hover {
                cursor: pointer;
            }
        }
    }
    &:hover {
        cursor: pointer;
    }
    &.base {
        background-color: white;
        border-color: lightgrey;
        &:hover {
            background-color: lightgrey;
        }
    }
    &.blue {
        background-color: lighten($primary, 50%);
        border-color: $primary;
        &:hover {
            background-color: $primary;
            .request-item {
                border-color: lighten($primary, 50%);
                color: lighten($primary, 50%);
            }
        }
        &.add {
            align-content: center;
            justify-content: center;
            margin-top: ( 2 * $logo-size / 3 );
        }
        .request-item {
            align-self: center;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 2px solid $primary;
            font-size: 2em;
            color: $primary;
        }
    }
}

.item-expanded-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    .modal-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: black;
        opacity: 0.3;
        filter: blur(5px);
        z-index: 10;
    }
}
